<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="nunito.css" rel="stylesheet">
    <script src="lodash.js"></script>
    <link href="materialicons.css" rel="stylesheet">
    <!-- load MUI -->
    <link href="materialize.min.css" rel="stylesheet" type="text/css" />
    <link href="bulma.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
    <script src="axios.min.js"></script>
    <!--toast-->
    <link rel="stylesheet" type="text/css" href="mdtoast.min.css">
    <script type="text/javascript" src="mdtoast.min.js"></script>
    <!--end-->
    <script src="constants.js"></script>
    <script src="utils.js"></script>
    <script src="index.js"></script>
    <!--<link rel="icon" type="image/gif" href="logo.gif" />-->
    <title>Eliza</title>
</head>
<body>
    <div id="app">
        <aside class="menu">
            <figure class="image is-3by2">
                <img src="logo.gif" alt="Eliza">
            </figure>
            <p class="menu-label">
                Eliza
            </p>
            <ul class="menu-list">
                <li @click="switchTab('home')" :class="viewing==='home' ? 'teal lighten-5' : ''"><a href="#home">Home</a></li>
                <li @click="switchTab('apps')" :class="viewing==='apps' ? 'teal lighten-5' : ''"><a href="#apps">Apps</a></li>
                <li @click="switchTab('defaultApps')" :class="viewing==='defaultApps' ? 'teal lighten-5' : ''"><a href="#defaultApps">Default Apps</a></li>
                <li @click="switchTab('searchAndIndex')" :class="viewing==='searchAndIndex' ? 'teal lighten-5' : ''"><a href="#searchAndIndex">Search and Index</a></li>
                <li @click="switchTab('settings')" :class="viewing==='settings' ? 'teal lighten-5' : ''"><a href="#settings">Settings</a></li>
                <li @click="switchTab('about')" :class="viewing==='about' ? 'teal lighten-5' : ''"><a href="#about">About</a></li>
            </ul>
        </aside>
        <section class="hero">
            <div v-if="viewing==='home'" class="hero-body">
                <ul class="container">
                    <li class="columns" v-for="message in messageQueue">
                        <span class="column is-offset-3 is-3" v-if="message.from===ELIZA">{{message.body}}</span>
                        <span class="column is-offset-6 is-3 has-text-right" v-if="message.from!==ELIZA">{{message.body}}</span>
                    </li>
                    <li class="columns">
                    <span class="column is-offset-3 is-3" v-if="loading">
                        <a class="btn-floating waves-effect waves-teal pulse"><i class="material-icons">bubble_chart</i></a>
                    </span>
                    </li>
                </ul>
                <form class="container" @submit.prevent="onTextReady">
                    <div class="columns align-center">
                    <span class="column is-offset-2 is-1">
                        <a @click="listenForKeyword" :disabled="listening || loading" :class="listening ? 'pulse' : ''" class="btn-floating btn-large waves-effect waves-light">
                            <i class="material-icons">mic_none</i>
                        </a>
                    </span>
                        <span class="column is-6">
                        <input v-model="text" class="has-text-right" type="text" @keyDown="onKeyDown" placeholder="Ask me anything!">
                    </span>
                        <span class="column is-narrow">
                        <button type="submit" :class="`btn btn-small ${isEmpty(text) ? 'disabled' : ''}`">
                            <span :disabled="loading">
                                Send
                                <i class="material-icons right">send</i>
                            </span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>
            <div v-if="viewing==='apps'" class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <table class="table is-hoverable">
                                <thead>
                                <tr>
                                    <th>Application</th>
                                    <th>Command</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="app in apps">
                                        <td>{{app.name}}</td>
                                        <td>{{app.command}}</td>
                                    </tr>
                                    <tr v-if="addAppVisible">
                                        <td><input v-model="appName" type="text"></td>
                                        <td><input v-model="appCommand" type="text"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="columns is-centered" v-if="addAppVisible">
                        <span><label for="symlink"><input class="filled-in" id="symlink" type="checkbox" /> <span>Symlink</span></label></span>
                    </div>
                </div>
                <a @click="addApp" :disabled="addAppVisible && (!appName || !appCommand)" class="btn-floating btn-large waves-effect waves-light fab"><i class="material-icons">{{addAppVisible ? 'send' : 'add'}}</i></a>
            </div>
            <div v-if="viewing==='searchAndIndex'" class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered">Indexing</h1>
                    <div class="columns">
                        <div class="column is-4 is-offset-2">
                            <h3 class="subtitle">Folders to index*:</h3>
                            <ul v-for="item in toIndex">
                                <li><span><label :for="item"><input class="indeterminate" :id="item" type="checkbox" checked /> <span>{{item}}</span></label></span></li>
                            </ul>
                            <br>
                            <br>
                        </div>
                        <div class="column is-4 is-offset-1 has-text-centered">
                            <a @click="triggerIndex" class="waves-effect waves-light btn-large"><i class="material-icons right">cached</i>Refresh Indices</a>
                            <br>
                            <br>
                            <a @click="deleteIndex" class="waves-effect waves-light btn-large red"><i class="material-icons right">delete</i>Clear Indices</a>
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <span>* Will be updated on next indexing</span>
                    </div>
                    <div class="columns is-centered">
                        <span>** Indices are automatically expired after 1 month</span>
                    </div>
                </div>
            </div>
            <div v-if="viewing==='settings'" class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <table class="table is-hoverable">
                                <thead>
                                <tr>
                                    <th>Setting</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="setting in settings">
                                    <td>{{setting.setting}}</td>
                                    <td>{{setting.value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="viewing==='about'" class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Eliza</h1>
                    <br><br>
                    <h2 class="subtitle">Contributing</h2>
                    Contribute to <a target="_blank" href="https://common-voice-uganda.github.io/frontend-web/dist/">Common Voice Uganda</a> to improve speech recognition performance.
                    <br><br>
                    <h2 class="subtitle">Open Source</h2>
                    The following software may have been used in the development of this tool;
                    <ul>
                        <li>Mozilla DeepSpeech</li>
                    </ul>
                    <br><br>
                    <h2 class="subtitle">Privacy Policy</h2>
                    <div class="columns is-centered">
                        <div class="column is-6">
                        <p>
                            Lincoln Karuhanga built the Eliza app as
                            an Open Source app. This SERVICE is provided by
                            Lincoln Karuhanga at no cost and is intended for
                            use as is.
                        </p> <p>
                            This page is used to inform visitors regarding
                            my policies with the collection, use, and
                            disclosure of Personal Information if anyone decided to use
                            my Service.
                        </p> <p>
                            If you choose to use my Service, then you agree
                            to the collection and use of information in relation to this
                            policy. The Personal Information that I collect is
                            used for providing and improving the Service.
                            I will not use or share your
                            information with anyone except as described in this Privacy
                            Policy.
                        </p> <p>
                            The terms used in this Privacy Policy have the same meanings
                            as in our Terms and Conditions, which is accessible at
                            Eliza unless otherwise defined in this Privacy
                            Policy.
                    <br><br>
                        </p> <p><strong>Information Collection and Use</strong></p> <p>
                            For a better experience, while using our Service,
                            I may require you to provide us with certain
                            personally identifiable information, including but not limited to Speech Data, Application Usage Patterns. The
                            information that I request will be
                            retained on your device and is not collected by me in any way.
                        </p> <p>
                            The app does use third party services that may collect
                            information used to identify you.
                        </p> <div><p>
                            Link to privacy policy of third party service providers
                            used by the app
                        </p> <ul><li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----></ul></div> <p><strong>Log Data</strong></p> <p>
                            I want to inform you that whenever
                            you use my Service, in a case of an error in the
                            app I collect data and information (through third
                            party products) on your phone called Log Data. This Log Data
                            may include information such as your device Internet
                            Protocol (“IP”) address, device name, operating system
                            version, the configuration of the app when utilizing
                            my Service, the time and date of your use of the
                            Service, and other statistics.
                        </p> <p><strong>Cookies</strong></p> <p>
                            Cookies are files with a small amount of data that are
                            commonly used as anonymous unique identifiers. These are
                            sent to your browser from the websites that you visit and
                            are stored on your device's internal memory.
                        </p> <p>
                            This Service does not use these “cookies” explicitly.
                            However, the app may use third party code and libraries that
                            use “cookies” to collect information and improve their
                            services. You have the option to either accept or refuse
                            these cookies and know when a cookie is being sent to your
                            device. If you choose to refuse our cookies, you may not be
                            able to use some portions of this Service.
                        </p> <p><strong>Service Providers</strong></p> <p>
                            I may employ third-party companies
                            and individuals due to the following reasons:
                        </p> <ul><li>To facilitate our Service;</li> <li>To provide the Service on our behalf;</li> <li>To perform Service-related services; or</li> <li>To assist us in analyzing how our Service is used.</li></ul> <p>
                            I want to inform users of this
                            Service that these third parties have access to your
                            Personal Information. The reason is to perform the tasks
                            assigned to them on our behalf. However, they are obligated
                            not to disclose or use the information for any other
                            purpose.
                        </p> <p><strong>Security</strong></p> <p>
                            I value your trust in providing us
                            your Personal Information, thus we are striving to use
                            commercially acceptable means of protecting it. But remember
                            that no method of transmission over the internet, or method
                            of electronic storage is 100% secure and reliable, and
                            I cannot guarantee its absolute security.
                        </p> <p><strong>Links to Other Sites</strong></p> <p>
                            This Service may contain links to other sites. If you click
                            on a third-party link, you will be directed to that site.
                            Note that these external sites are not operated by
                            me. Therefore, I strongly advise you to
                            review the Privacy Policy of these websites.
                            I have no control over and assume no
                            responsibility for the content, privacy policies, or
                            practices of any third-party sites or services.
                        </p> <p><strong>Children’s Privacy</strong></p> <p>
                            These Services do not address anyone under the age of 13.
                            I do not knowingly collect personally
                            identifiable information from children under 13. In the case
                            I discover that a child under 13 has provided
                            me with personal information,
                            I immediately delete this from our servers. If you
                            are a parent or guardian and you are aware that your child
                            has provided us with personal information, please contact
                            me so that I will be able to do
                            necessary actions.
                        </p> <p><strong>Changes to This Privacy Policy</strong></p> <p>
                            I may update our Privacy Policy from
                            time to time. Thus, you are advised to review this page
                            periodically for any changes. I will
                            notify you of any changes by posting the new Privacy Policy
                            on this page. These changes are effective immediately after
                            they are posted on this page.
                        </p> <p><strong>Contact Us</strong></p> <p>
                            If you have any questions or suggestions about
                            my Privacy Policy, do not hesitate to contact
                            me at .
                        </p> <p>
                            This privacy policy page was created at
                            <a href="https://privacypolicytemplate.net" target="_blank">privacypolicytemplate.net</a>
                            and modified/generated by
                            <a href="https://app-privacy-policy-generator.firebaseapp.com/" target="_blank">App Privacy Policy Generator</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
